
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Montserrat', sans-serif;
}

.subheading-font{
    font-family: 'Lobster', sans-serif;
}

.cardEffect{
	border: 1px solid transparent;
	border-radius: 25px;
    color: black;
    font-weight: 500;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
	transition: 0.4s;
    border: 1px solid yellowgreen;
}
.cardEffect:hover{
	background-color: var(--bg-clr-two);
	color: rgb(31, 28, 28);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid orange;
}